name: build
on: push
jobs:
  build:
    name: my job 1
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]
    steps:
      - name: my first step
        env:
          MY_VAR: Hi there!
          FIRST_NAME: Ricardo
          LAST_NAME: Llontop
        run: echo $MY_VAR $FIRST_NAME $LAST_NAME
      - name: my second step
        if: success()
        run: echo "the previous step run successfully"
      - name: my third step
        uses: actions/checkout@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
        
    
